tr, td {
    border-top:1pt solid #ddd !important;
}

thead {
    border-bottom: 2pt solid #ddd !important;
}

[class*="col-"] {
    padding: 2pt;
}

body {
    background-color:silver;
    font-size: 16px;
}

[class*="row"] {
    margin-left: 5pt;
    margin-right: 5pt;
}

/* Swipe works with mouse as well but often causes text selection. */
/* We'll deny text selecton on everything but INPUTs and TEXTAREAs. */
/*  -o-user-select: none;   */
#eng-page :not(INPUT):not(TEXTAREA) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Content styling. */
dl {
    font-family: "Times New Roman", Times, serif;
    padding: 1em;
}

dt {
    font-size: 2em;
    font-weight: bold;
}

dt span {
    font-size: .5em;
    margin-left: .5em;
    color: #777;
}

dd {
    font-size: 1.25em;
    margin: 1em 0 0;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}

.back-btn {
    float: right;
    margin: 0 2em 1em 0;
}

#frmListBody{
    font-size: 24px;
}